  body{
    background-image: url("58c20226b509b_1024.jpg"); 
    background-repeat: repeat;
    background-attachment: fixed;
  }
  h1{
    text-align: center;
    color:green;
  }
  h2{
    text-align: right;
    color:blue;
  }
  .city{
            
        float: left;//浮動位置
        margin: 5px;
        padding: 15px;
        max-width: 400px;
        height: 1000px;
        border: 3px solid black;
        display: -webkit-flex;
       display: flex;
       -webkit-flex-wrap: wrap;
       flex-wrap: wrap;
      -webkit-align-content: center;
       align-content: center;
  }

  p {
    color:orange;
  }

  ol, li {
    font-size:24px;
    color:green;
  }
 
