 
  	body {background-color:white
  		 background-image: url("image1");
          background-repeat: no-repeat;;

 	}
	h1   {
		color: blue; 
		font-size:100px;
		font-family:verdana;
		}
    p    {
    		  font-family: courier;
    	     font-size: 150%
    	}
  table, th, td 
  {
    border: 2px solid black;
    border-collapse: collapse;
	}
p.center {
    text-align: center;
    color: red;
}
 
